* {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 3.6rem 2.4rem;
  background-color: #cfc166;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  letter-spacing: -0.01em;
}
.container {
  max-width: 45rem;
}
h1 {
  font-family: "Caveat", system-ui, -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  font-size: 6rem;
  text-indent: -0.5em;
  color: #4446b2;
}
h2 {
  margin: 1.6rem 0;
}
@media (max-width: 450px) {
  body {
    align-items: flex-start;
  }
  h1 {
    text-indent: 0;
  }
}
form {
  display: flex;
}
input[type="email"] {
  width: 24rem;
  font: inherit;
  padding: 0.5em 1em;
  border: 1px solid;
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  border-right: 0;
}
button[type="submit"] {
  font: inherit;
  padding: 0.5em 1em;
  border: 1px solid black;
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  background: orange;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}
button[type="submit"]:hover,
button[type="submit"]:focus {
  background: #ffb833;
}
